<center><h1>Data engineering project</h1></center>

# Part 3 - ETL

In this final part, we'll:

*   Run the ETL process
*   Extract bank and market cap data from the JSON file `bank_market_cap.json` prapared from part 1
*   Transform the market cap currency using the exchange rate data
*   Load the transformed data into a seperate CSV

In [1]:
#!pip install glob
#!pip install pandas
#!pip install requests
#!pip install datetime

## Imports

In [2]:
import glob
import pandas as pd
from datetime import datetime

## Extract

### JSON Extract Function

This function will extract JSON files.

In [4]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

## Extract Function

we'll define the extract function that finds JSON file `bank_market_cap.json` and calls the function created above to extract data it then store the data in a `pandas` dataframe.

In [5]:
def extract():
    # create an empty data frame to hold extracted data
    extracted_data = pd.DataFrame(columns=['Name','Market Cap (US$ Billion)']) 
    extracted_data = extracted_data.append(extract_from_json('bank_market_cap.json'), ignore_index=True)
    return extracted_data

Right now, we'll load the file <code>exchange_rates.csv</code> prepared from part-2 as a dataframe and find the exchange rate for British pounds with the symbol <code>GBP</code>, store it in the variable  <code>exchange_rate</code>.

In [19]:
df=pd.read_csv('exchange_rates.csv',index_col=0)
exchange_rate = df.loc['GBP']['Rates']
exchange_rate

0.7323984208000001

## Transform

Using <code>exchange_rate</code> and the `exchange_rates.csv` file, we'll find the exchange rate of USD to GBP and then write a transform function that

1.  Changes the `Market Cap (US$ Billion)` column from USD to GBP
2.  Rounds the Market Cap (US$ Billion)\` column to 3 decimal places
3.  Rename `Market Cap (US$ Billion)` to `Market Cap (GBP£ Billion)`

In [7]:
def transform(data, r):
    # Write your code here
    data['Market Cap (US$ Billion)'] = round((data['Market Cap (US$ Billion)'] * r),3)
    data.rename(columns={'Market Cap (US$ Billion)':'Market Cap (GBP£ Billion)'},inplace=True)
    return data

## Load

we'll create a function that takes a dataframe and load it to a csv named `bank_market_cap_gbp.csv`.

In [2]:
target_file = 'bank_market_cap_gbp.csv'
def load(target_file,data_to_load):
    data_to_load.to_csv(target_file,index=False)

## Logging Function

In [3]:
def log(message):
    timestamp_format = '%Y-%h-%d-%H:%M:%S' # Year-Monthname-Day-Hour-Minute-Second
    now = datetime.now() # get current timestamp
    timestamp = now.strftime(timestamp_format)
    with open("logfile.txt","a") as f:
        f.write(timestamp + ',' + message + '\n')

## Running the ETL Process

In [10]:
log('ETL Job Started')
log('Extract phase Started')

### Extract

In [11]:
MarketCap = extract()
MarketCap.head()

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399

In [12]:
log('Extract phase Ended')

### Transform

In [13]:
log("Transform phase Started")

In [14]:
transformed_data = transform(MarketCap,exchange_rate)
transformed_data.head()

                                      Name  Market Cap (GBP Billion)
0                           JPMorgan Chase                   286.319
1  Industrial and Commercial Bank of China                   252.834
2                          Bank of America                   238.272
3                              Wells Fargo                   225.588
4                  China Construction Bank                   188.519

In [15]:
log("Transform phase Ended")

### Load

In [16]:
log("Load phase Started")

In [17]:
load(target_file,transformed_data)

In [18]:
log("Load phase Ended")